 *{margin: 0; padding: 0;}
    ul{list-style: none;}
    a{text-decoration: none; color: black;}
    body{font-family: '나눔스퀘어';
         font-size: 100%;
          line-height: 130%; 
          color: #333;
          background-color:#fff}

/* 
        #header{width:100%; height: 57px;
            background-color:#fff;
            padding:20px 0; box-sizing: border-box;
            text-align: center;}
        
        
        #header2{width:100%; height:130px;
            background-color:#fff;}
        .nav{width:1200px; margin:0 auto;}
        .nav li{float:left;}
        .nav li a{display:block; color:#333;
                padding:15px 58px;}
        .nav li a:hover{color: rgb(255, 108, 152);}



 */


/*header*/
#header{width:100%; height:120px;
    background-color: #fff;

}
.header_inner{width:1320px; margin:0 auto;
        position:relative;
}
.nav{position:absolute; }
.nav li{float:left; }
.nav li a{display: block; padding:89px 94px 10px 94px;
}
.nav li a:hover{color:#eba4af;}
.nav li:nth-child(3) a{padding:10px 94px 10px 94px;}

.link{position:absolute; top:15px; right:0;}
.link li{float:left; margin-right:10px;}
.link li a{font-size:80%;}


/*banner*/
#banner img{width:100%; display: block;}

/*con1*/
#con1{width:1320px; margin:0 auto; text-align: center;}
#con1 h2{padding-top:80px;}
#con1 img{padding:80px 0;}

/*con2*/

#con2{width:100%; overflow: hidden;
    background-color:#eba4af;
    padding:30px 0; position: relative; margin-top:100px;
text-align: center;
    }



/* #con2 img{display:block; position: absolute; top:30%; left:35%; width:13%;} */
.con2_inner{width:1320px; margin:0 auto;}



.leftlogo{float:left; margin-top:100px; width:300px; margin-right:100px;}
.con2_text{float:right; margin-top:50px; width:700px;
        text-align: left;
}



/*con3*/
#con3{width:1320px; margin:0 auto; text-align: center; padding:50px 0;
}




#con3 ul li:last-child{margin-right:0;}


#con3 h2{padding:100px 0;}
#con3 ul li{float:left;  width:400px; margin-right:60px; 
    /*너비값, 마진값주기*/
}



#con4 img{width:100%; display: block; padding-top: 150px;}

#footer{width:100%; height:400px; 
    background:#eba4af;
    color:#fff;}

    .footer_inner{width:1200px; margin:0 auto;
        padding-top:50px;
       ;/*sns 기준*/
}

.footer_text ul{margin:30px 0;}
.footer_text ul li{float:left; }
.footer_text ul li a{color:#fff;


margin-right:30px;

}
.footer_text ul li a:hover{color:#fff;}


.footer_text p{clear: both; color:rgba(255,255,255,0.7);
    padding-top:30px;
}



.footer_text2{clear: both; }

.footer_text3 {clear: both;
padding:50px 0;}
.footer_text3 div{float:left;}
.footer_logo{margin-right: 50px;}

.footer_text3 p{padding-top:20px;}






/*푸터 1번페이지 만든것 복붙하기*/